<ion-view view-title="About">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>TFE</h2>
        </br>
        <p>
          Cette application a été dévellopé dans le but d'un tfe. Le principe est de pouvoir contrôler un robot raspberry via http.
        </p>
        <p>
          Pour toute demande, contactez moi.
        </p>
        </br>
        <cite>
          Andy Vanbutsele</br>
           &lt;andy.vanbutsele@gmail.com&gt;
        </cite>
      </div>
    </div>
  </ion-content>
</ion-view>
