
<ion-nav-bar class="bar-dark">
</ion-nav-bar>
<ion-view>
    <ion-nav-view name="content"></ion-nav-view>

    <div class="bar bar-footer bar-dark">

      <div class="button-bar">
        <button ui-sref="app.dashboard" class="button button-clear button-light">
          <i class="ion-home"></i> Board
        </button>
        <button ui-sref="app.settings" class="button button-clear button-light">
          <i class="ion-gear-a"></i> Settings
        </button>
        <button ui-sref="app.about" class="button button-clear button-light">
          <i class="ion-information-circled"></i> About
        </button>
      </div>
    </div>
</ion-view>
